| #  | Problem                                                                |
| -- | ---------------------------------------------------------------------- |
| 1  | **Find the sum and average of a list of numbers.**                     |
| 2  | **Remove duplicates from a list while preserving order.**              |
| 3  | **Flatten a nested list (e.g., `[1, [2, 3], 4]` ‚ûù `[1, 2, 3, 4]`).**   |
| 4  | **Count frequency of elements in a list using a dictionary.**          |
| 5  | **Merge two dictionaries; if a key exists in both, add their values.** |
| 6  | **Sort a list of tuples by the second element.**                       |
| 7  | **Group a list of dictionaries by a common key.**                      |
| 8  | **Convert a dictionary to a list of tuples and vice versa.**           |
| 9  | **Implement an LRU Cache using OrderedDict.**                          |
| 10 | **Detect cycles in nested dictionaries (advanced use case).**          |

In [6]:
## Problem-1
#### Find the sum and average of a list of numbers


l=[5,10,34,23,70,21,44,55,22,77,87,34]

sum=0
for i in l:
    sum=sum+i
average = sum/(len(l))

print("sum = ", sum)
print("length of list is = ",len(l))
print("average", average)

sum =  482
length of list is =  12
average 40.166666666666664

In [13]:
type(l)

list

In [24]:

del average

In [26]:
total = sum(l)
print(total)
#print(av)

482

In [27]:
## Problem - 1
### Removing the duplicates of the list while preserving the order.

#### sol-1: using another list

l=[5,10,34,23,70,21,44,55,22,77,87,34, 5, 17,34,23,44,65,70,12,87,21,33,55]

l1=[]
for i in l:
    if i not in l1:
        l1.append(i)

print(l1)

[5, 10, 34, 23, 70, 21, 44, 55, 22, 77, 87, 17, 65, 12, 33]

In [36]:
#### sol-2: using same list

## Problem - 1
### Removing the duplicates of the list while preserving the order.

#### sol-1: using another list

l2=[5,10,34,23,70,21,44,55,22,77,87,34, 5, 17,34,23,44,65,70,12,87,21,33,55]


i = 0
while i<len(l2):
    if l2.index(l2[i]) !=i :
        del l2[i]
    else:
        i +=1

print(l2)

[5, 10, 34, 23, 70, 21, 44, 55, 22, 77, 87, 17, 65, 12, 33]

In [35]:
l.index(l[11])

2

In [52]:
## problem : 3 --> Flatten a nested list

#### [1, [2,3], 4, [3,2,3], 10] --> [1,2,3,4,3,2,3,10]

l_f =  [1, [2,3], 4, [3,2,3], 10]

f_l =[]

for l in l_f:
    if type(l) == list:
        for i in l:
            f_l.append(i)
    else:
        f_l.append(l)

print(f_l)

[1, 2, 3, 4, 3, 2, 3, 10]

In [ ]:
## The above function works very well for 1-level of nested list.
## however, this will fails when multi-level nesting is available inside the list.
## how to handle such scenario.
## Recursion:

In [ ]:
def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

l_f = [1, [2,3], 4, [3,2,[3,5]], 10]
print(flatten(l_f))

In [53]:
l_f = [1, [2,3], 4, [3,2,[3,5]], 10]

for item in l_f:
    print(isinstance(item, list))

False
True
False
True
False

In [ ]:
## Count the frquency of elements in a list using dictionary.

In [58]:
my_dict = {5:3,7:5, 3:2, 4:5}

print("keys")
for i in my_dict:
    print(i)

print("values")
for i in my_dict:
    print(my_dict[i])

print("key value pairs")

for key, value in my_dict.items():
    print(key, value)

keys
5
7
3
4
values
3
5
2
5
key value pairs
5 3
7 5
3 2
4 5

In [59]:
l = [2,3,4,5,2,3,7,6,6,5,8,19,23,4,5,6,34,23,21,19]

c_l = {}
for i in l:
    if i in c_l:
        c_l[i] = c_l[i]+1
    else:
        c_l[i] = 1


for key, value in c_l.items():
    print(key, value)

2 2
3 2
4 2
5 3
7 1
6 3
8 1
19 2
23 2
34 1
21 1

In [69]:
## Problem-5 : Merge two dictionaries, if a key exists in both, add their value.

d1 = {1:3, 5:4, 7:10, 3:7, 21: 42, "mango": 32, "apple":74}
d2 = {1:5, 21: 4, "mango": 8, "banana":75}


for key, value in d1.items():
    if key in d2:
        d1[key] = d1[key] + d2[key]
        del(d2[key])

d1 = d1 | d2

print(d1)

{1: 8, 5: 4, 7: 10, 3: 7, 21: 46, 'mango': 40, 'apple': 74, 'banana': 75}

In [65]:
print(d2)

{'banana': 75}

In [67]:
d1 = d1 | d2

In [68]:
print(d1)

{1: 8, 5: 4, 7: 10, 3: 7, 21: 46, 'mango': 40, 'apple': 74, 'banana': 75}

In [72]:
## Problem - 6 : sort a list of tuples by the second element.

students = [("Alice", 24), ("Bob", 22), ("Charlie", 23)]

for i,j in students:
    print(i, j)

Alice 24
Bob 22
Charlie 23

In [73]:
for i in students:
    print(i)

('Alice', 24)
('Bob', 22)
('Charlie', 23)

In [76]:
print(students.sort(key=lambda x : x[1]))

print(students)

None
[('Bob', 22), ('Charlie', 23), ('Alice', 24)]

In [77]:
students.index(('Charlie', 23))

1

In [ ]:
## Group a list of dictionaries by a common key
employees = [
    {"name": "Alice", "department": "HR", "age": 30},
    {"name": "Bob", "department": "IT", "age": 25},
    {"name": "Charlie", "department": "HR", "age": 28},
    {"name": "David", "department": "Finance", "age": 35},
    {"name": "Eva", "department": "IT", "age": 26},
    {"name": "Frank", "department": "Finance", "age": 40},
]

In [79]:
## Convert a dictionaries into list of tuples and vice versa.

person = {"name": "Alice", "age": 30, "city": "New York"}

tuple_list = list(person.items())

print(tuple_list)

[('name', 'Alice'), ('age', 30), ('city', 'New York')]

In [80]:
dict_person = dict(tuple_list)

print(dict_person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}